@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
body{
    background-image: url(../img/light-veneer.png);
    height: 100%;
}
#connect,#inserted{
    /* background-image: url(../img/circles-light.png); */
    padding-right:20px;  
}
#connect{
    clear: both;
}
#insert{
	padding: 10px;
	float: left;
}
nav,#connect:hover{
    background:rgb(240, 247, 211);
}
.panel-heading{
    text-underline-position: below;
}
p,h1,h4 {
    line-height: 27px;
    letter-spacing: 2px;
    font-family: 'Jacques Francois',serif;
    ;
}
h1{
    text-decoration: underline;
    text-underline-position: below;
}
#gMap{
    padding: 10px 0 0 10px;
}
.panel-footer{
    font-size: 15px;
}
.portfolio{
    width: 200px;
    height: 150px;
}
#rsp,#psychic,#crystals,#trivia,#starwars{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	text-align: center;
	display: inline-block;
	}
#quote{
	font-family: monospace;
	text-align: center;
}
img{

    height: 500px;
} 



@media screen and (max-width: 980px) {
    body {
        background-image: url(../img/light-veneer.png);
    }
    .container {
        float: left;
        width: 100%;
    }
    #icon,#inserted{
        display: inline-block;
        width: 200px;
        height: 200px;

        margin-top: 20px;
    }
    footer {
        position: absolute;
        bottom:0;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(../img/light-veneer.png);
    }
    #container {
        float: left;
        width: 100%;
    }
    #connect {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width:640ox) {
    body {
        background-image: url(../img/light-veneer.png);
    }
    header {
        position: static;
    }
    #container {
        float: left;
        width: 100%;
    }
    #connect{
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 320px) {
    body {
        background: #cccccc;
    }
    #container {
        float: left;
        width: 100%;
    }
    aside {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    footer {
        position: relative;
    }
}


